fastapi
uvicorn
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
google-auth
google-auth-oauthlib
requests
psycopg2-binary
bcrypt
email-validator
annotated-types
pydantic
pydantic-core
starlette
typing_extensions
stripe
argon2-cffi
slowapi
python-dotenv
openai
openpyxl
python-multipart
Pillow